<% content_for :title, "All Events" %>

<h1>All Events</h1>

<% if policy(Event).index? %>
  <%= link_to "My Events", events_path %>
<% end %>

<div id="events">
  <% if @events.empty? %>
    <p>No events.</p>
  <% end %>

  <% @events.each do |event| %>
    <div class="event">
      <%= render partial: 'events/event', object: event %>

      <% if policy(event).show? %>
        <p>
         <%= link_to "Show this event", event %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
