<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% if @events.empty? %>
    <p>No events.</p>
  <% end %>

  <% @events.each do |event| %>
    <%= render event %>

    <% if policy(event).show? %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <% end %>
</div>

<% if policy(Event).new? %>
  <%= link_to "New event", new_event_path %>
<% end %>
